* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}

:root {
    --primary-color: #000;
    --secondary-color: #00d07e;
    --text-color: #1d2b35;
}

body {
    font-family: "Manrope", sans-serif;
}

a {
    text-decoration: none;
    color: #000;
}

.seo-section {
    width: 100%;
    padding-top: 8rem;
}

.seo-section__container {
    display: flex;
    width: 100%;
    max-width: 570px;
    margin: 0 auto;
    gap: 2.25rem;
    padding: 0 1.5rem;
    flex-direction: column;
}

.seo-section__header {
    width: 100%;
}

.seo-section__header a {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.seo-section__header .seo-section__header-image {
    width: 100%;
    object-fit: cover;
    border-radius: 8px;
}

.seo-section__header-title {
    font-size: 1.5rem;
    font-weight: 800;
    line-height: 1.3;
    margin-bottom: .5rem;
}

.seo-section__header .seo-section__author {
    display: flex;
    align-items: center;
}

.seo-section__header .seo-section__author .seo-section__author-image {
    border-radius: 100%;
    width: 2rem;
}

.seo-section__header .seo-section__author .seo-section__author-text {
    display: flex;
    gap: 4px;
    margin-left: 10px;
}

.seo-section__articles {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    margin-bottom: 4rem;
}

.seo-section__article .seo-section__article-link {
    display: flex;
    gap: 1.5rem;
    align-items: center;
}

.seo-section__article .seo-section__article-link .seo-section__article-image {
    width: 10rem;
    border-radius: 8px;
}

.seo-section__article .seo-section__article-link .seo-section__article-title {
    font-size: 1rem;
    margin-bottom: 8px;
}

.seo-section__article .seo-section__article-link .seo-section__article-category {
    color: var(--secondary-color);
}



@media screen and (min-width:768px) {
    .seo-section__container {
        max-width: 1200px;
        flex-direction: row;
    }

    .seo-section__articles {
        width: 50%;
    }

    .seo-section__header {
        width: 50%;
    }
}

@media screen and (min-width:1024px) {
    .seo-section__header-title {
        font-size: 1.75rem;
    }

    .seo-section__article .seo-section__article-link .seo-section__article-title {
        font-size: 1.25rem;
    }
}

@media screen and (min-width:1200px) {
    .seo-section__container {
        padding: 0;
    }
}