@import url('./modules/hero.css');
@import url('./modules/articles.css');
@import url('./modules/neswletter.css');
@import url('./modules/about.css');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: "Inter", sans-serif;
}


:root {
    --primary-color: #000;
    --secondary-color: #00d07e;
    --text-color: #1d2b35;
}

a {
    text-decoration: none;
    color: #000;
}